  <!-- Footer -->
  <footer class="footer" data-bg-color="#D9E0DD">
    <div class="container">
        <div class="main_footer">
            <div class="row">
                <div class="col-xl-5 col-md-6">
                    <div class="site_info logo_area wow fadeInLeft" data-wow-delay="0.3s">
                        <h1 style="color: black;">SOS Nigeria</h1>
                        <!-- <img src="img/logo/logo.png" alt="" class="footer_logo"> -->
                        <p>At SOS Online Services, we build businesses around customer selection, customer acquisition, customer extension and customer retention.</p>
                      
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mid">
                    <div class="site_info wow fadeInLeft" data-wow-delay="0.5s">
                        <h5>Contact info</h5>
                        <ul class="loc_list list-unstyled">
                            <li>252 Obafemi Awolowo Way, Utako 900108, Abuja, Federal Capital Territory, Nigeria.</li>
                        </ul>
                        <ul class="contact_list list-unstyled">
                            <li class="mail"><a href="mailto:info@sosnig.com">info@sosnig.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 last">
                    <div class="site_info wow fadeInLeft" data-wow-delay="0.7s">
                        <h5>Connect with us today!</h5>
                        <ul class="contact_list list-unstyled">
                            </li>
                            <li class="mail"><a href="tel:+2348082295065">+ 234 808 229 5065</a></li>
                        </ul>
                        <div class="social_icons">
                            <a href="https://wa.me/2348082295065"><i class="fa-brands fa-whatsapp"></i></a>
                            <a href="https://instagram.com/sosnig"><i class="fa-brands fa-instagram"></i></a>
                            <a href="https://facebook.com/sos.ng"><i class="fa-brands fa-facebook-f"></i></a>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom wow fadeInLeft" data-wow-delay="0.9s">
            <div class="footer_bottom_list">
                <div class="row">
                    <div class="col-xl-6">
                        <ul class="footer_nav list-unstyled">
                            <li><a href="/about">Learn more about us</a></li>
                            <li><a href="/service">Checkout our Services</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-6">
                        <ul class="footer_nav right list-unstyled">
                            <li><a href="/contact">Contact Us today!</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer_copyright" style="text-align: center;">
                <p>© 2008 - 2023 SOS Nigeria. All Rights Reserved </p>
            </div>
        </div>
    </div>
    <div class="shape_img">
        <img src="img/footer/1.png" alt="" class="one wow fadeInLeft" data-wow-delay="1.3s">
        <img src="img/footer/2.png" alt="" class="two wow fadeInLeft" data-wow-delay="1.1s">
        <img src="img/footer/3.png" alt="" class="three wow fadeInLeft" data-wow-delay="0.1s">
    </div>
</footer>
<!-- Footer -->

<!-- jQuery Libraary -->
<script src="js/jquery.min.js"></script>
<!-- Popper - Js For Bootstrap -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap - jS  -->
<script src="js/bootstrap.min.js"></script>
<!-- Waypoints Js For Counter Up -->
<script src="js/waypoints.min.js"></script>
<!-- Counter Up - Js -->
<script src="js/jquery.counterup.js"></script>
<!-- Magnific Popup -Js -->
<script src="js/magnific-popup.min.js"></script>
<!-- Wow - Js -->
<script src="js/wow.min.js"></script>
<!-- Parallax - Js -->
<script src="js/parallax.min.js"></script>
<!-- Slick-Slidr-js -->
<script src="js/slick.min.js"></script>
<!-- Magnet-mouse -->
<script src="js/magnet-mouse.min.js"></script>
<!-- jquery-ui -->
<script src="js/jquery-ui.js"></script>
<!-- Main Js -->
<script src="js/main.js"></script>
</body>

</html>