

    <!-- Service Line -->
    <section class="service_line">
        <div class="line_item" data-bg-color="#D9E0DD">
            <h5><img src="img/icon/burst_pucker.png" alt=""> We create and develop digital product</h5>
            <h5><img src="img/icon/burst_pucker.png" alt=""> We create and develop digital product</h5>
            <h5><img src="img/icon/burst_pucker.png" alt=""> We create and develop digital product</h5>
            <h5><img src="img/icon/burst_pucker.png" alt=""> We create and develop digital product</h5>
        </div>
        <div class="line_item two" data-bg-color="#A6D8B5">
            <h5><img src="img/icon/burst_pucker.png" alt=""> We create and develop digital product</h5>
            <h5><img src="img/icon/burst_pucker.png" alt=""> We create and develop digital product</h5>
            <h5><img src="img/icon/burst_pucker.png" alt=""> We create and develop digital product</h5>
            <h5><img src="img/icon/burst_pucker.png" alt=""> We create and develop digital product</h5>
        </div>
    </section>
    <!-- Service Line -->