
    <!-- Breadcrumb -->
    <div class="breadcrumb_area">
        <div class="container">
            <div class="breadcrumb_content">
                <h2><%= pageTitle %></h2>
                <div class="breadcrumb_category">
                    <span><a href="/">Home</a></span>
                    <span><i class="fa-solid fa-arrow-right"></i></span>
                    <span><a href="#"><%= pageTitle %></a></span>
                </div>
            </div>
        </div>
        <div class="shape_img">
            <img src="img/hero/shape/2.png" alt="" class="one">
            <img src="img/hero/shape/3.png" alt="" class="two">
            <img src="img/hero/shape/7/2.png" alt="" class="three">
        </div>
    </div>
    <!-- Breadcrumb -->