    <!-- Cta -->
    <section class="cta h_4">
        <div class="container">
            <div class="min_cta_area" data-bg-img="img/cta/bg.png">
                <h3 class="wow fadeInLeft" data-wow-delay="0.1s">Are you ready to grow?</h3>
                <p class="wow fadeInLeft" data-wow-delay="0.3s">We are available for any follow up discussion, as we look forward to an opportunity <br> to demonstrate to you our professional expertise and competence.</p>
                <a class="mail wow fadeInLeft" data-wow-delay="0.5s"
                    href="mailto:info@sosnig.com">info@sosnig.com</a> <br>
                <a class="wow fadeInRight" data-wow-delay="0.5s" href="tel:2348082295065">234 (0) 808 229 5065</a>
            </div>
        </div>
    </section>
    <!-- Cta -->