        <!-- Service Line -->
        <section class="service_line h_3">
            <div class="line_item" data-bg-color="#A6D8B5">
                <h5><img src="img/icon/burst_pucker.png" alt="">Welcome to SOS Nigeria</h5>
                <h5><img src="img/icon/burst_pucker.png" alt="">We are media professionals</h5>
                <h5><img src="img/icon/burst_pucker.png" alt="">We build and develop digital products</h5>
            </div>
        </section>
        <!-- Service Line -->