
    <!-- Offer -->
    <section class="offer_box">
        <div class="container">
            <div class="section_title text-center">
                <h2 class="wow fadeInLeft" data-wow-delay="0.1s">Our amazing services
                </h2>
            </div>
            <div class="min_offer_box">
                <div class="row">
                    <div class="col-xl-4">
                        <div class="single_offer_box wow fadeInLeft" data-wow-delay="0.3s">
                            <img src="img/icon/offer_box/1.svg" alt="">
                            <div class="content">
                                <h5>Professional Consultancy </h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="single_offer_box wow fadeInLeft" data-wow-delay="0.5s">
                            <img src="img/icon/offer_box/2.svg" alt="">
                            <div class="content">
                                <h5>Software Development</h5>
                                
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="single_offer_box wow fadeInLeft" data-wow-delay="0.7s">
                            <img src="img/icon/offer_box/3.svg" alt="">
                            <div class="content">
                                <h5>Business Development</h5>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xl-4">
                        <div class="single_offer_box wow fadeInLeft" data-wow-delay="0.3s">
                            <img src="img/icon/offer_box/1.svg" alt="">
                            <div class="content">
                                <h5>Advisory Services</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="single_offer_box wow fadeInLeft" data-wow-delay="0.5s">
                            <img src="img/icon/offer_box/2.svg" alt="">
                            <div class="content">
                                <h5>Ecommerce Solution</h5>
                                
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="single_offer_box wow fadeInLeft" data-wow-delay="0.7s">
                            <img src="img/icon/offer_box/3.svg" alt="">
                            <div class="content">
                                <h5>Business Management</h5>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- Offer -->