
    <!-- Progress -->
    <br>

    <section class="progress_area service">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6">
                    <div class="section_img wow fadeInLeft" data-wow-delay="0.1s">
                        <img src="img/progress/1.png" alt="">
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="min_progress_area">
                        <div class="content">
                            <div class="section_title wow fadeInLeft" data-wow-delay="0.3s">
                                <h2>We maximize to achieve your goal</h2>
                            </div>
                            <p class="wow fadeInLeft" data-wow-delay="0.5s">
                                leveraging on Information Communication Technology as a tool for Professionalism and excellence for 21st century and fortune 500 companies.
                            </p>
                        </div>
                        <div class="line_progress_bar">
                            <div class="single_items wow fadeInLeft" data-wow-delay="0.7s">
                                <div class="progress_content">
                                    <h5>Customer extension and customer retention</h5>
                                    <span>99.9%</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90.9" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="single_items wow fadeInLeft" data-wow-delay="0.9s">
                                <div class="progress_content">
                                    <h5>Client satisfaction</h5>
                                    <span>100%</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="single_items wow fadeInLeft" data-wow-delay="1.1s">
                                <div class="progress_content">
                                    <h5>businesses around customer selection</h5>
                                    <span>80%</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Progress -->
